*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron.home {
  background-image: url('./11910.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  position: sticky;
}

.banner-text {
  background-color: #ffffffa6;
}

.jumbotron.search {
  background-image: url('./applogo-banner_orig.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  position: sticky;
}

#poke-title {
  width: 100%;
  margin: 0 auto;
}

#poke-desc-head .poke-desc-version {
  width:20%;
}
#poke-desc-body .poke-desc-version {
    width: 20.2%;
}

#poke-desc-body {
  display: block;
  height: 304px;
  overflow-y: auto;
}

#poke-desc-body, #poke-desc-body tr{
  width: 100%
}

#poke-desc-table {
  margin-top: -17px
}

#poke-moves-body {
  overflow-x: auto;
}

#poke-moves-body td.data {
  min-width: 150px;
}