*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron.home {
  background-image: url('./11910.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  position: sticky;
}

.banner-text {
  background-color: #ffffffa6;
}

.jumbotron.search {
  background-image: url('./applogo-banner_orig.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  position: sticky;
}

.container#poke-body {
  max-width: 1340px
}

#poke-title {
  width: 100%;
  margin: 0 auto;
}

#poke-title a{
  color: black;
}

#poke-title a:hover{
  color: #af1e1e;
  text-decoration: none;
}

#poke-desc-head .poke-desc-version {
  width:20%;
}
#poke-desc-body .poke-desc-version {
    width: 20.2%;
}

#poke-desc-body {
  display: block;
  height: 304px;
  overflow-y: auto;
}

#poke-desc-body, #poke-desc-body tr{
  width: 100%
}

#poke-desc-table {
  margin-top: -17px
}

.evo-caption {
  margin-top: -20px;
  padding-bottom: 10px;
}

.evo-1-row {
}

#evo-container {
  margin-top: -20px;
}

.badge-type {
  color: white;
  width: 80px;
}
.badge-type.normal{
  background-color: #A8A878;
  border: 1px solid #6D6D4E;
}
.badge-type.fighting{
  background-color: #C03028;
  border: 2px solid #D67873;
}
.badge-type.flying{
  background-color: #A890F0;
  border: 1px solid #6D5E9C;
}
.badge-type.poison{
  background-color: purple;
  border: 1px solid #682A68;
}
.badge-type.ground{
  background-color: #CDB48C;
  border: 1px solid #927D44;
}
.badge-type.rock{
  background-color: #635F4D;
  border: 1px solid #786824;
}
.badge-type.bug{
  background-color: #A8B820;
  border: 1px solid #6D7815;
}
.badge-type.ghost{
  background-color: #705898;
  border: 1px solid #493963;
}
.badge-type.ice{
  background-color: #98D8D8;
  border: 1px solid #638D8D;
}
.badge-type.steel{
  background-color: #B8B8D0;
  border: 1px solid #787887;
}
.badge-type.fire{
  background-color: #F08030;
  border: 1px solid #9C531F;
}
.badge-type.water{
  background-color: #6890F0;
  border: 1px solid #445E9C;
}
.badge-type.grass{
  background-color: green;
  border: 1px solid #4E8234;
}
.badge-type.electric{
  color: brown;
  background-color: #F8D030;
  border: 1px solid #A1871F;
}
.badge-type.psychic{
  background-color: #F85888;
  border: 1px solid #A13959;
}
.badge-type.dragon{
  background-color: #7038F8;
  border: 1px solid #4924A1;
}
.badge-type.dark{
  background-color: #705848;
  border: 1px solid #49392F;
}
.badge-type.fairy{
  background-color: #EE99AC;
  border: 1px solid #9B6470;
}
.badge-type.unknown{
  background-color: #68A090;
  border: 1px solid #44685E;
}

#moves {
  margin-top: -17px;
}

.nav-pills .nav-link.active{
  border: 1px solid black;
}
.nav-pills .nav-link.active.red-blue{
  background: linear-gradient(
    to right, 
    #ff1111 0%, 
    #ff1111 50%, 
    #0e4b90 50%, 
    #0e4b90 100%
  );
}
.nav-pills .nav-link.active.yellow{
  background-color: #ffd733;
  color: black;
}
.nav-pills .nav-link.active.gold-silver{
  background: linear-gradient(
    to right, 
    #daa520 0%, 
    #daa520 50%, 
    #5c636c 50%, 
    #5c636c 100%
  );
}
.nav-pills .nav-link.active.crystal{
  background-color: #4fd9ff;
}
.nav-pills .nav-link.active.ruby-sapphire{
  background: linear-gradient(
    to right, 
    #a00000 0%, 
    #a00000 50%, 
    #244a6a 50%, 
    #244a6a 100%
  );
}
.nav-pills .nav-link.active.emerald{
  background-color: #00a000;
}
.nav-pills .nav-link.active.firered-leafgreen{
  background: linear-gradient(
    to right, 
    #ff7327 0%, 
    #ff7327 50%, 
    #9dcc57 50%, 
    #9dcc57 100%
  );
}
.nav-pills .nav-link.active.diamond-pearl{
  background: linear-gradient(
    to right, 
    #aaaaff 0%, 
    #aaaaff 50%, 
    #b2728e 50%, 
    #b2728e 100%
  );
}
.nav-pills .nav-link.active.platninum{
  background-color: #999999;
}
.nav-pills .nav-link.active.heartgold-soulsilver{
  background: linear-gradient(
    to right, 
    #b69e00 0%, 
    #b69e00 50%, 
    #e6e8f5 50%, 
    #e6e8f5 100%
  );
}
.nav-pills .nav-link.active.black-white{
  background: linear-gradient(
    to right, 
    black 0%, 
    black 50%, 
    white 50%, 
    white 100%
  );
}
.nav-pills .nav-link.active.colosseum{
  background-color: #b6cae4;
}
.nav-pills .nav-link.active.xd{
  background-color: #604e82;
}
.nav-pills .nav-link.active.black-2-white-2{
  background: linear-gradient(
    to right, 
    #424b50 0%, 
    #424b50 50%, 
    white 50%, 
    white 100%
  );
}
.nav-pills .nav-link.active.x-y{
  background: linear-gradient(
    to right, 
    #025da6 0%, 
    #025da6 50%, 
    #f16a81 50%, 
    #f16a81 100%
  );
}
.nav-pills .nav-link.active.diamond-pearl{
  background: linear-gradient(
    to right, 
    #aaaaff 0%, 
    #aaaaff 50%, 
    #b2728e 50%, 
    #b2728e 100%
  );
}
.nav-pills .nav-link.active.omega-ruby-alpha-sapphire{
  background: linear-gradient(
    to right, 
    #ab2813 0%, 
    #ab2813 50%, 
    #729abf 50%, 
    #729abf 100%
  );
}
.nav-pills .nav-link.active.sun-moon{
  background: linear-gradient(
    to right, 
    #f1912b 0%, 
    #f1912b 50%, 
    #90bddc 50%, 
    #90bddc 100%
  );
}
.nav-pills .nav-link.active.ultra-sun-ultra-moon{
  background: linear-gradient(
    to right, 
    #e95b2b 0%, 
    #e95b2b 50%, 
    #6fa0cf 50%, 
    #6fa0cf 100%
  );
}
